.logo-container {
   width: 15%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: start;
   padding: 10px;
}

.logo {
   font-size: 26px;
   font-style: italic;
   color: teal;
   font-weight: 600;
}